{% extends 'layout.html' %}
{% block content %}
    <!-- <div class="slider-wrap">
        <div class="slider" id="slider">
            <section class="holder">
                <article class="slide" id="slide-0"></article>
                <article class="slide" id="slide-1"></article>
                <article class="slide" id="slide-2"></article>
                <article class="slide" id="slide-3"></article>
                <article class="slide" id="slide-4"></article>
                <article class="slide" id="slide-5"></article>
                <article class="slide" id="slide-6"></article>
                <article class="slide" id="slide-7"></article>
                <article class="slide" id="slide-8"></article>
                <article class="slide" id="slide-9"></article>
                <article class="slide" id="slide-10"></article>
                <article class="slide" id="slide-11"></article>
                <article class="slide" id="slide-12"></article>
                <article class="slide" id="slide-13"></article>
                <article class="slide" id="slide-14"></article>
            </section>
        </div>
    </div>

    <script src="/slide.js"></script> -->

    <div class="wrap">
        <div id="arrow-left" class="arrow"></div>
        <div id="slider">
            <div class="slide slide1">
                <div class="slide-content">
                    <span>Slide One</span>
                </div>
            </div>
            <div class="slide slide2">
                <div class="slide-content">
                    <span>Slide Two</span>
                </div>
            </div>
            <div class="slide slide3">
                <div class="slide-content">
                    <span>Slide Three</span>
                </div>
            </div>
            <div class="slide slide4">
                <div class="slide-content">
                    <span>Slide Four</span>
                </div>
            </div>
            <div class="slide slide5">
                <div class="slide-content">
                    <span>Slide Five</span>
                </div>
            </div>
            <div class="slide slide6">
                <div class="slide-content">
                    <span>Slide Six</span>
                </div>
            </div>
            <div class="slide slide7">
                <div class="slide-content">
                    <span>Slide Seven</span>
                </div>
            </div>
            <div class="slide slide8">
                <div class="slide-content">
                    <span>Slide Eight</span>
                </div>
            </div>
            <div class="slide slide9">
                <div class="slide-content">
                    <span>Slide Nine</span>
                </div>
            </div>
            <div class="slide slide10">
                <div class="slide-content">
                    <span>Slide Ten</span>
                </div>
            </div>
            <div class="slide slide11">
                <div class="slide-content">
                    <span>Slide Eleven</span>
                </div>
            </div>
            <div class="slide slide12">
                <div class="slide-content">
                    <span>Slide Twelve</span>
                </div>
            </div>
            <div class="slide slide13">
                <div class="slide-content">
                    <span>Slide Thirteen</span>
                </div>
            </div>
            <div class="slide slide14">
                <div class="slide-content">
                    <span>Slide Fourteen</span>
                </div>
            </div>
            <div class="slide slide15">
                <div class="slide-content">
                    <span>Slide Fifteen</span>
                </div>
            </div>
        </div>
        <div id="arrow-right" class="arrow"></div>
    </div>

    







{% endblock content %}


















